//colors
$red: #b61313;
$primary: hsl(252, 75%, 51%);
$primary-dark: hsl(251, 73%, 29%);
$secondary: hsl(252, 67%, 8%);
$white: hsl(0, 0%, 100%);
$card-bg: hsl(250, 37%, 96%);
$gray-ash: hsl(216, 19%, 26%);
